<dw-content class="dw-f-input-listwin">
<form dw-form>
  <div dw-row [dwGutter]="24">
    <!-- 修改密碼 - 如果是地端, 不需要驗證方式 -->
    <div dw-col [dwSpan]="12" class="dw-f-input-listwin-block">
      <dw-form-item dw-row>
        <dw-form-label dw-col [dwSpan]="24" class="title">
          <span translate>dw-update-password-demo-title</span> - {{ endpoint }}
        </dw-form-label>
      </dw-form-item>
      <dw-form-item dw-row>
        <dw-form-control dw-col [dwSm]="24" [dwXs]="24">
          <button dw-button type="button" dwType="primary" (click)="updatePassword($event)"><span translate>dw-update-password-demo-button</span></button>
        </dw-form-control>
      </dw-form-item>
    </div>

    <!-- 修改密碼 - 指定驗證方式 - 如果是地端, 不需要驗證方式 -->
    <div dw-col [dwSpan]="12" class="dw-f-input-listwin-block" *ngIf="dwMultiTenant">
      <dw-form-item dw-row>
        <dw-form-label dw-col [dwSpan]="24" class="title">
          <span translate>dw-update-password-demo-title</span> - {{ endpoint }} - <span translate>dw-update-password-demo-specific</span>
        </dw-form-label>
      </dw-form-item>
      <dw-form-item dw-row>
        <dw-form-control dw-col [dwSm]="24" [dwXs]="24">
          <button dw-button type="button" dwType="primary" (click)="updatePasswordSpecific($event)"><span translate>dw-update-password-demo-button</span></button>
        </dw-form-control>
      </dw-form-item>
    </div>

  </div>
</form>
</dw-content>
