<form dw-form [formGroup]="updatePwdForm" class="update-password-form">

  <div class="inputBlock">

    <!-- 驗證方式 -->
    <dw-form-item dw-row *ngIf="dwMultiTenant">
      <dw-form-control dw-col [dwSpan]="24">
        <ng-container *ngIf="isOnlyMobilephone">
          <span *ngIf="isOnlyMobilephone" class="dw-f-tip-red" translate>dw-update-password-notice-mobilephone</span>
        </ng-container>
        <ng-container *ngIf="updatePwdForm.get('selectVerification').hasError('mailNotExist')">
          <span class="dw-f-tip-red" translate>dw-update-password-error-mailNotExist</span>
        </ng-container>
        <ng-container *ngIf="updatePwdForm.get('selectVerification').hasError('mobilephoneNotExist')">
          <span class="dw-f-tip-red" translate>dw-update-password-error-mobilephoneNotExist</span>
        </ng-container>
        <dw-select formControlName="selectVerification" (ngModelChange)="switVerification()">
          <dw-option *ngFor="let item of optionList" [dwLabel]="item.label" [dwValue]="item.value"></dw-option>
        </dw-select>
      </dw-form-control>
    </dw-form-item>

    <!-- 獲取驗證碼 -->
    <dw-form-item dw-row class="verification-block" dwGutter="8" *ngIf="dwMultiTenant">
      <dw-form-control dw-col [dwSpan]="12">
        <button dw-button [dwType]="'primary'" style="width:100%" [disabled]="checkGetCodeDisabled()" (click)="getCode()">
          <span *ngIf="!iscountDown" translate>dw-update-password-getCode</span>
          <span *ngIf="iscountDown" translate [translateParams]="{ current: countDown }">dw-update-password-countDown</span>
        </button>
      </dw-form-control>
      <dw-form-control dw-col [dwSpan]="12" [dwErrorTip]="verificationCodeErrorTpl">
        <input dw-input [placeholder]="'dw-update-password-enterCode' | translate" formControlName="verificationCode">
        <ng-template #verificationCodeErrorTpl>
          <ng-container *ngIf="updatePwdForm.get('verificationCode').dirty && updatePwdForm.get('verificationCode').errors && updatePwdForm.get('verificationCode').hasError('required')">
            <span translate>required</span>
          </ng-container>
        </ng-template>
      </dw-form-control>
    </dw-form-item>

    <!-- 新密碼 -->
    <dw-form-item dw-row class="dw-f-newpassword">
      <dw-form-label dw-col [dwSpan]="7">
        <span translate>dw-update-password-newPassword</span>
      </dw-form-label>
      <dw-form-control dw-col [dwSpan]="17" [dwErrorTip]="passwordErrorTpl">
        <input dw-input [type]="showPassword ? 'text' : 'password'" formControlName="password"
          [placeholder]="'dw-update-password-enterNewPassword' | translate">
        <i dw-icon [dwType]="showPassword ? 'eye-invisible' : 'eye'" dwTheme="outline"
          (click)="showPassword = !showPassword"></i>
        <ng-template #passwordErrorTpl>
          <ng-container *ngIf="updatePwdForm.get('password').dirty && updatePwdForm.get('password').errors">
            <span *ngIf="updatePwdForm.get('password').hasError('required')" translate>required</span>
            <span *ngIf="updatePwdForm.get('password').hasError('userPasswordFormat')"
              translate>dw-update-password-passwordFormat</span>
          </ng-container>
        </ng-template>
      </dw-form-control>
    </dw-form-item>

    <!-- 確認新密碼 -->
    <dw-form-item dw-row class="dw-f-confnewpassword">
      <dw-form-label dw-col [dwSpan]="7">
        <span translate>dw-update-password-confirmNewPassword</span>
      </dw-form-label>
      <dw-form-control dw-col [dwSpan]="17" [dwErrorTip]="repasswordErrorTpl">
        <input dw-input [type]="showPassword ? 'text' : 'password' " formControlName="repassword"
          [placeholder]="'dw-update-password-enterNewPasswordAgain' | translate">
        <ng-template #repasswordErrorTpl>
          <ng-container *ngIf="updatePwdForm.get('repassword').dirty && updatePwdForm.get('repassword').errors">
            <ng-container *ngIf="updatePwdForm.get('repassword').hasError('required')"><span translate>required</span>
            </ng-container>
            <ng-container *ngIf="updatePwdForm.get('repassword').hasError('userPasswordEqual')"><span
                translate>dw-update-password-passwordMismatch</span></ng-container>
            <ng-container *ngIf="updatePwdForm.get('repassword').hasError('userPasswordFormat')"><span
                translate>dw-update-password-passwordFormat</span></ng-container>
          </ng-container>
        </ng-template>
      </dw-form-control>
    </dw-form-item>

    <!-- 提示 -->
    <dw-form-item dw-row class="dw-f-loginagain">
      <dw-form-label dw-col [dwSpan]="24">
        <p class="textBlock" translate>dw-update-password-logInAgain</p>
      </dw-form-label>
    </dw-form-item>


    <!-- 按鈕 - 為了要使用 updatePwdForm.valid 來判斷是否可以按送出 -->
    <dw-form-item dw-row class="customize-footer">
      <dw-form-control dw-col [dwSpan]="24">
        <button dw-button [dwType]="'primary'" [disabled]="!updatePwdForm.valid || !checkUserInfo()" [dwLoading]="isButtLoading" (click)="emitFormData()">
          <span translate>dw-determine</span>
        </button>
        <button dw-button type="button" [dwType]="'default'" (click)="cancel()">
          <span translate>dw-cancel</span>
        </button>
      </dw-form-control>
    </dw-form-item>

  </div>

</form>
