<div dw-row>
  <div dw-col dwSpan="24">
    <dw-divider [dwText]="'dw-demo-image-viewer-case1' | translate" dwOrientation="left"></dw-divider>
    <div>
      <app-dw-demo-image-viewer-list></app-dw-demo-image-viewer-list>
    </div>
  </div>
</div>
<div dw-row>
  <div dw-col dwSpan="24">
    <dw-divider [dwText]="'dw-demo-image-viewer-case2' | translate" dwOrientation="left"></dw-divider>
    <div>
      <app-dw-demo-image-viewer-upload></app-dw-demo-image-viewer-upload>
    </div>
  </div>
</div>
